<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-12-08T22:41:31Z</date>
	<key>WorkspacePath</key>
	<string>/Users/max/Desktop/iOS_401_Repository/UofM_Dining/UofM_Dining.xcodeproj</string>
</dict>
</plist>
